<div *ngIf="!nomenclature" class="animate-pulse">Loading nomenclature...</div>

<div *ngIf="nomenclature">
  <div class="my-8">
    <div class="flex gap-2 items-center">
      <div class="">
        <button
          (click)="back()"
          mat-icon-button
          aria-label="Button with a arrow back icon"
        >
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>
      <div class="text-xl">
        {{ nomenclature.name }}
      </div>
    </div>
  </div>

  <div class="mb-8">
    <div class="p-2">Description:</div>
    <mat-card>
      <mat-card-content>
        <div class="mb-4 text-base">
          {{ nomenclature.description }}
        </div>
        <div class="flex items-center gap-2 text-base">
          Enabled
          <mat-icon color="primary" *ngIf="nomenclature.enabled"
            >check_circle</mat-icon
          >
          <mat-icon color="warn" *ngIf="!nomenclature.enabled"
            >unpublished</mat-icon
          >
        </div>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <button mat-button (click)="editNomenclature(nomenclature)">
          Edit
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div *ngIf="nomenclature.subNomenclatures && !nomenclature.parentCode">
    <div class="mb-8">
      <div class="p-2">Sub Nomenclatures:</div>
      <mat-card>
        <mat-card-content>
          <div
            *ngFor="let item of nomenclature.subNomenclatures"
            class="truncate"
          >
            <a
              [routerLink]="['/app/nomenclature', item.code]"
              class="hover:underline text-base"
              [title]="item.name"
            >
              {{ item.name }}
            </a>
          </div>
          <div *ngIf="!nomenclature.subNomenclatures.length" class="">
            No sub nomenclaturesc.
          </div>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
          <button (click)="addSubNomenclature()" mat-button>Add</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
