<h1 class="text-center">
  1199 - Вписване в Списъка на областните дирекции по безопасност на храните на
  физически или юридически лица, които получават суровини и храни от животински
  произход от друга държава-членка на Европейския съюз, предназначени за пускане
  на пазара и за търговия, или които разпределят такива пратки.
</h1>
<div *ngIf="this.data?.errors?.length" class="errors-container">
  Има грешки при създаване на заявлението
  <button mat-raised-button color="primary" (click)="openErrorsDialog()">
    Преглед
  </button>
</div>

<mat-stepper orientation="horizontal" #stepper>
  <mat-step [stepControl]="applicationForm" errorMessage="Name is required.">
    <ng-template matStepLabel>Основни данни</ng-template>

    <app-application-common-part [commonPartData]="data">
    </app-application-common-part>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Специфични данни</ng-template>
    <form [formGroup]="applicationForm">
      <div
        class="p-4 bg-lime-600 sticky top-0 z-10 flex gap-4 justify-end my-5"
        *ngIf="isApplicationStatusPaymentConfirmedOrEntered"
      >
        <!-- <button mat-flat-button (click)="this.updateApplication()">
          Запази
        </button> -->

        <!-- <button
          [disabled]="!applicationForm.valid"
          mat-flat-button
          (click)="updateApplication()"
        >
          Запази
        </button> -->

        <button mat-flat-button (click)="openApprovalDialog()">
          Одобрение
        </button>

        <button mat-flat-button (click)="openRefusalDialog()">Отказ</button>

        <button mat-flat-button (click)="openCorrectionDialog()">
          За корекция
        </button>
      </div>

      <div *ngIf="finalActionErrors !== ''" class="errors-container-final">
        Има грешки при финално действие: {{ finalActionErrors }}
      </div>

      <ol>
        <li class="mat-form-field--inline">
          <div class="my-4 uppercase font-bold text-xs opacity-100">
            Данни за обекта:
          </div>

          <div class="section">
            <mat-form-field appearance="fill">
              <mat-label>Ветеринарен одобрителен номер</mat-label>
              <input
                matInput
                placeholder="Ветеринарен одобрителен номер"
                formControlName="facilityRegNumber"
                required
              />
            </mat-form-field>
          </div>
          <mat-checkbox
            formControlName="leasedWarehouseSpace"
            class="example-margin"
          >
            Използвам наети складови площи</mat-checkbox
          >
        </li>
      </ol>
    </form>
    <div class="flex justify-between">
      <button mat-raised-button matStepperPrevious>Назад</button>
      <div class="flex gap-2">
        <button mat-flat-button color="warn" (click)="closeDialog()">
          Затвори
        </button>
        <!-- <button mat-flat-button color="primary" matStepperNext>Продължи</button> -->
      </div>
    </div>
  </mat-step>
</mat-stepper>
