<form
  *ngIf="dialogForm"
  [formGroup]="dialogForm"
  novalidate
  (ngSubmit)="onSubmit()"
>
  <div mat-dialog-title>Редактиране</div>
  <mat-dialog-content>
    <div class="flex flex-col">
      <mat-form-field class="mb-2" appearance="fill">
        <mat-label> Стикер № </mat-label>
        <input matInput formControlName="certificateNumber" />
      </mat-form-field>

      <mat-form-field class="mb-2" appearance="fill">
        <mat-label> Регистрационен номер на МПС </mat-label>
        <input matInput formControlName="registrationPlate" />
      </mat-form-field>

      <mat-form-field class="mb-2" appearance="fill">
        <mat-label> Вид на МПС </mat-label>
        <input matInput formControlName="vehicleTypeName" />
      </mat-form-field>

      <mat-form-field class="mb-2" appearance="fill">
        <mat-label> Марка на модел </mat-label>
        <input matInput formControlName="brandModel" />
      </mat-form-field>

      <mat-form-field class="mb-2" appearance="fill">
        <mat-label> Товароподемност </mat-label>
        <input matInput formControlName="load" />
      </mat-form-field>

      <mat-form-field class="mb-2" appearance="fill">
        <mat-label> Дата на регистрация </mat-label>
        <input matInput formControlName="entryDate" />
      </mat-form-field>

      <mat-form-field class="mb-2" appearance="fill">
        <mat-label> Статус </mat-label>
        <mat-select formControlName="status">
          <mat-option
            *ngFor="let status of data.vehicleStatusList | keyvalue"
            [value]="status.key"
          >
            {{ status.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Затвори</button>
    <button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="dialogForm.invalid || dialogForm.pristine"
    >
      Обнови
    </button>
  </mat-dialog-actions>
</form>
