<h1 class="text-center">
  2272 - Регистрация на транспортни средства за превозване на суровини и храни.
</h1>
<div *ngIf="this.data?.errors?.length" class="errors-container">
  Има грешки свързвани със сертификат на МПС!
  <button mat-raised-button color="primary" (click)="openErrorsDialog()">
    Преглед
  </button>
</div>
<mat-stepper orientation="horizontal" #stepper>
  <mat-step [stepControl]="applicationForm" errorMessage="Name is required.">
    <ng-template matStepLabel>Основни данни</ng-template>

    <app-application-common-part [commonPartData]="data">
    </app-application-common-part>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Специфични данни</ng-template>

    <form [formGroup]="applicationForm">
      <ol>
        <li class="mat-form-field--inline">
          <div
            class="p-4 bg-lime-600 sticky top-0 z-10 flex gap-4 justify-end my-5"
            *ngIf="
              this.isExpert && isApplicationStatusPaymentConfirmedOrEntered
            "
          >
            <button mat-flat-button (click)="openApprovalDialog()">
              Одобрение
            </button>

            <button mat-flat-button (click)="openRefusalDialog()">Отказ</button>

            <button mat-flat-button (click)="openCorrectionDialog()">
              За корекция
            </button>
          </div>

          <div *ngIf="finalActionErrors !== ''" class="errors-container-final">
            Има грешки при финално действие: {{ finalActionErrors }}
          </div>

          <div
            class="my-4 uppercase font-bold text-xs opacity-100"
            *ngIf="this.vehicles.length > 0"
          >
            Специфични данни за МПС
          </div>

          <div formArrayName="vehicles" *ngIf="this.vehicles.length > 0">
            <div *ngFor="let vehicleForm of vehicles?.controls; let i = index">
              <div [formGroupName]="i">
                <div
                  class="my-4 uppercase font-bold text-xs opacity-100"
                  *ngIf="this.vehicles.length > 0"
                >
                  МПС
                </div>
                <div class="section">
                  <mat-form-field appearance="fill">
                    <mat-label>Вид превозно средство</mat-label>
                    <mat-select formControlName="vehicleTypeCode">
                      <mat-option
                        *ngFor="let vehicleType of vehicleTypes"
                        [value]="vehicleType.code"
                        >{{ vehicleType.name }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field appearance="fill">
                    <mat-label>Марка и модел</mat-label>
                    <input
                      matInput
                      placeholder="Марка и модел"
                      formControlName="brandModel"
                    />
                  </mat-form-field>

                  <mat-form-field appearance="fill">
                    <mat-label>Регистрационен номер</mat-label>
                    <input
                      matInput
                      placeholder="Регистрационен номер"
                      formControlName="registrationPlate"
                    />
                  </mat-form-field>

                  <mat-form-field appearance="fill">
                    <mat-label>Товароподемност</mat-label>
                    <input
                      matInput
                      placeholder="Товароподемност"
                      formControlName="load"
                      type="number"
                    />
                  </mat-form-field>
                </div>

                <div class="section">
                  <mat-form-field appearance="fill">
                    <mat-label>Мерна единица</mat-label>
                    <mat-select formControlName="loadUnitCode">
                      <mat-option
                        *ngFor="let measuringUnit of measuringUnits"
                        [value]="measuringUnit.code"
                        >{{ measuringUnit.name }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field appearance="fill">
                    <mat-label>Обем (за цистерни и контейнери)</mat-label>
                    <input
                      matInput
                      placeholder="Обем"
                      formControlName="volume"
                      type="number"
                    />
                  </mat-form-field>

                  <mat-form-field appearance="fill">
                    <mat-label>Мерна единица</mat-label>
                    <mat-select formControlName="volumeUnitCode">
                      <mat-option
                        *ngFor="let measuringUnit of measuringUnits"
                        [value]="measuringUnit.code"
                        >{{ measuringUnit.name }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field appearance="fill">
                    <mat-label>Собственост на МПС</mat-label>
                    <mat-select formControlName="vehicleOwnershipTypeCode">
                      <mat-option
                        *ngFor="let vehicleOwnership of vehicleOwnerships"
                        [value]="vehicleOwnership.code"
                        >{{ vehicleOwnership.name }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="section">
                  <mat-checkbox
                    [checked]="vehicleForm?.get('licenseNumber')?.value"
                    [disabled]="true"
                  >
                    Имам издаден лиценз за извършване на превоз на товари на
                    територията на Република Бъглария или лиценз за извършване
                    за международен превоз на товари съгласно чл.6, ал.1 от
                    Закона за автомобилните превози</mat-checkbox
                  >
                </div>

                <mat-form-field
                  appearance="fill"
                  *ngIf="vehicleForm?.get('licenseNumber')?.value"
                >
                  <mat-label>Номер на лиценз (Номер на сертификат)</mat-label>
                  <input
                    matInput
                    placeholder="Номер на лиценз (Номер на сертификат)"
                    formControlName="licenseNumber"
                  />
                </mat-form-field>

                <div>Вид произведени храни:</div>
                <div *ngIf="!getVehicleFoodTypes(i)" class="animate-pulse">
                  Loading Food Types...
                </div>
                <app-food-types-checkbox-list
                  [areFoodTypesEnabled]="
                    this.data?.recordStatus === 'PAYMENT_CONFIRMED' ||
                    this.data?.recordStatus === 'ENTERED'
                  "
                  [foodTypes]="getVehicleFoodTypes(i)"
                  (selectedFoodTypes)="onToggleChange($event, i)"
                ></app-food-types-checkbox-list>
              </div>
            </div>
          </div>
        </li>
      </ol>
    </form>
    <div class="flex justify-between">
      <button mat-raised-button matStepperPrevious>Назад</button>
      <div class="flex gap-2">
        <button mat-flat-button color="warn" (click)="closeDialog()">
          Затвори
        </button>
      </div>
    </div>
  </mat-step>
</mat-stepper>
