<form
  *ngIf="dialogForm"
  [formGroup]="dialogForm"
  novalidate
  (ngSubmit)="onSubmit()"
>
  <div mat-dialog-title>Редактиране</div>
  <mat-dialog-content>
    <div class="flex flex-col">
      <mat-form-field class="mb-2" appearance="fill">
        <mat-label> Входящ № </mat-label>
        <input matInput formControlName="notificationNumber" />
      </mat-form-field>

      <mat-form-field class="mb-2" appearance="fill">
        <mat-label> Населено място на обекта </mat-label>
        <input matInput formControlName="fullAddress" />
      </mat-form-field>

      <mat-form-field class="mb-2" appearance="fill">
        <mat-label> Адрес на обекта </mat-label>
        <input matInput formControlName="address" />
      </mat-form-field>

      <mat-form-field class="mb-2" appearance="fill">
        <mat-label> Отговорно лице </mat-label>
        <input matInput formControlName="ch83CertifiedPerson" />
      </mat-form-field>

      <mat-form-field class="mb-2" appearance="fill">
        <mat-label> Статус </mat-label>
        <mat-select formControlName="status">
          <mat-option
            *ngFor="let status of facilityStatusList"
            [value]="status[0]"
          >
            {{ status[1] }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Затвори</button>
    <button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="dialogForm.invalid || dialogForm.pristine"
    >
      Обнови
    </button>
  </mat-dialog-actions>
</form>
