<h1 class="text-center">
  3181 - Регистрация на операторите, които извършват търговия с храни от
  разстояние.
</h1>
<mat-stepper orientation="horizontal" #stepper>
  <mat-step [stepControl]="applicationForm" errorMessage="Name is required.">
    <ng-template matStepLabel>Основни данни</ng-template>

    <form [formGroup]="applicationForm">
      <ol>
        <li class="mat-form-field--inline">
          <div class="my-4 uppercase font-bold text-xs opacity-100">
            Данни за заявител
          </div>

          <div class="section">
            <mat-form-field appearance="fill">
              <mat-label>Пълно име</mat-label>
              <input
                matInput
                placeholder="Пълно име.."
                formControlName="requestorFullName"
                required
              />
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>ЕГН</mat-label>
              <input
                matInput
                placeholder="ЕГН"
                formControlName="requestorIdentifier"
                required
              />
            </mat-form-field>
          </div>

          <div class="section">
            <mat-form-field appearance="fill">
              <mat-label>Имейл</mat-label>
              <input
                matInput
                placeholder="Имейл"
                formControlName="requestorEmail"
                required
              />
              <mat-error
                *ngIf="this.applicationForm.get('requestorEmail')?.errors"
                >Emails must not match
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Качество на автор на заявлението</mat-label>
              <mat-select formControlName="requestorAuthorTypeCode">
                <mat-option
                  *ngFor="let applicationAuthorType of requestorAuthorTypes"
                  [value]="applicationAuthorType.code"
                  >{{ applicationAuthorType.name }}</mat-option
                >
              </mat-select>
            </mat-form-field>

            <ng-container
              *ngIf="
                this.applicationForm.get('requestorAuthorTypeCode')?.value ===
                '01306'
              "
            >
              <mat-form-field appearance="fill">
                <mat-label>Номер на пълномощно</mat-label>
                <input
                  matInput
                  placeholder="Номер на пълномощно"
                  formControlName="requestorPowerAttorneyNumber"
                  required
                />
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Заверено от</mat-label>
                <input
                  matInput
                  placeholder="Заверено от"
                  formControlName="requestorPowerAttorneyNotary"
                  required
                />
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Дата на пълномощно</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker1"
                  formControlName="requestorPowerAttorneyDate"
                  (click)="picker1.open()"
                />
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Валидно до</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker2"
                  formControlName="requestorPowerAttorneyUntilDate"
                  (click)="picker2.open()"
                />
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </ng-container>
          </div>

          <div class="radio-btn-box">
            <mat-radio-group formControlName="entityType">
              <mat-radio-button value="LEGAL">Юридическо лице</mat-radio-button
              >&nbsp;&nbsp;
              <mat-radio-button value="PHYSICAL"
                >Физическо лице</mat-radio-button
              >
            </mat-radio-group>
          </div>
          <div
            class="my-4 uppercase font-bold text-xs opacity-100"
            *ngIf="this.isPhysicalPersonForm"
          >
            Данни за физическо лице
          </div>

          <div
            class="my-4 uppercase font-bold text-xs opacity-100"
            *ngIf="!this.isPhysicalPersonForm"
          >
            Данни за ЮЛ
          </div>
          <div class="section">
            <mat-form-field appearance="fill">
              <mat-label>Пълно име</mat-label>
              <input
                matInput
                placeholder="Пълно име"
                formControlName="applicantFullName"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="fill" *ngIf="this.isPhysicalPersonForm">
              <mat-label>ЕГН</mat-label>
              <input
                matInput
                placeholder="ЕГН"
                formControlName="applicantIdentifier"
                required
              />
            </mat-form-field>
            <mat-form-field
              appearance="fill"
              *ngIf="!this.isPhysicalPersonForm"
            >
              <mat-label>ЕИК</mat-label>
              <input
                matInput
                placeholder="ЕИК"
                formControlName="applicantIdentifier"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Имейл</mat-label>
              <input
                matInput
                placeholder="Имейл"
                formControlName="applicantEmail"
                required
              />
              <mat-error
                *ngIf="this.applicationForm.get('applicantEmail')?.errors"
                >Emails must not match
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Телефон</mat-label>
              <input
                matInput
                placeholder="Телефон"
                formControlName="applicantPhone"
                required
              />
            </mat-form-field>
          </div>

          <!-- headOfficeAddress -->

          <!-- correspondenceAddress -->
          <ng-container formGroupName="applicantCorrespondenceAddress">
            <div class="my-4 uppercase font-bold text-xs opacity-100">
              Адрес за кореспонденция:
            </div>
            <div class="section">
              <mat-form-field appearance="fill">
                <mat-label>Област</mat-label>
                <mat-select
                  (selectionChange)="onChangeCorrespondenceZone($event.value)"
                >
                  <mat-option
                    *ngFor="let areaSettlement of areaSettlements"
                    [value]="areaSettlement.id"
                    >{{ areaSettlement.name }}</mat-option
                  >
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Община</mat-label>
                <mat-select
                  (selectionChange)="
                    onChangeCorrespondenceMunicipalitySettlements($event.value)
                  "
                >
                  <mat-option
                    *ngFor="
                      let municipality of correspondenceMunicipalitySettlements
                    "
                    [value]="municipality.id"
                    >{{ municipality.name }}</mat-option
                  >
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Населено място</mat-label>
                <mat-select formControlName="settlementCode">
                  <mat-option
                    *ngFor="let settlement of correspondenceSettlements"
                    [value]="settlement.id"
                    >{{ settlement.name }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>

            <div class="section">
              <mat-form-field appearance="fill">
                <mat-label>Пощенски код</mat-label>
                <input
                  matInput
                  placeholder="Пощенски код"
                  formControlName="postCode"
                  required
                />
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Адрес (BG)</mat-label>
                <input
                  matInput
                  placeholder="Адрес (BG)"
                  formControlName="address"
                  required
                />
              </mat-form-field>
            </div>
          </ng-container>

          <div class="my-4 uppercase font-bold text-xs opacity-100">
            Средства за комуникация при търговия от разстояние
          </div>

          <div class="section">
            <mat-form-field appearance="fill">
              <mat-label>ОДБХ</mat-label>
              <mat-select formControlName="branchIdentifier">
                <mat-option
                  *ngFor="let branch of branches"
                  [value]="branch.identifier"
                  >{{ branch.name }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>

          <div class="section" formGroupName="address">
            <mat-form-field appearance="fill">
              <mat-label>Телефон</mat-label>
              <input
                matInput
                placeholder="Телефон"
                formControlName="phone"
                required
              />
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Електронен адрес</mat-label>
              <input
                matInput
                placeholder="Електронен адрес"
                formControlName="mail"
                required
              />
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Интернет страница</mat-label>
              <input
                matInput
                placeholder="Интернет страница"
                formControlName="url"
                required
              />
            </mat-form-field>
          </div>

          <div class="section">
            <mat-form-field appearance="fill">
              <mat-label>Област</mat-label>
              <mat-select formControlName="facilityZone">
                <mat-option
                  *ngFor="let areaSettlement of areaSettlements"
                  [value]="areaSettlement.id"
                  >{{ areaSettlement.name }}</mat-option
                >
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Община</mat-label>
              <mat-select formControlName="facilityMunicipality">
                <mat-option
                  *ngFor="let facilityMunicipality of facilityMunicipalities"
                  [value]="facilityMunicipality.id"
                  >{{ facilityMunicipality.name }}</mat-option
                >
              </mat-select>
            </mat-form-field>

            <div formGroupName="address">
              <mat-form-field appearance="fill">
                <mat-label>Населено място</mat-label>
                <mat-select formControlName="settlementCode">
                  <mat-option
                    *ngFor="let settlement of facilitySettlements"
                    [value]="settlement.id"
                    >{{ settlement.name }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
              <div class="section">
                <mat-form-field appearance="fill">
                  <mat-label>Адрес (BG)</mat-label>
                  <input
                    matInput
                    placeholder="Адрес (BG)"
                    formControlName="address"
                    required
                  />
                </mat-form-field>
              </div>
            </div>
          </div>
        </li>

        <div>
          <mat-checkbox formControlName="registeredFacilityInBulgaria">
            <span class="checkbox">
              Използвам регистриран/одобрен обект/и в Р.България, от който ще
              извършвам търговия с храни от разстояние
            </span></mat-checkbox
          >
          <div *ngIf="displayRegisteredFacilityInBulgaria">
            <mat-form-field class="facilityAdress">
              <input
                matInput
                placeholder="Регистрационен/одобрителен номер на обекта"
                formControlName="facilitiesPaperNumbers"
              />
            </mat-form-field>
            <button
              mat-raised-button
              type="button"
              color="primary"
              (click)="addFacilityPaper()"
            >
              Добави
            </button>
          </div>
        </div>
        <div>
          <mat-checkbox formControlName="registeredFacilityOutsideOfBulgaria">
            <span class="checkbox"
              >Използвам регистриран/одобрен обект/и извън Р.България, от който
              ще извършвам търговия с храни от разстояние</span
            ></mat-checkbox
          >

          <div
            *ngIf="displayRegisteredFacilityOutsideOfBulgaria"
            formGroupName="foreignFacilityAddresses"
          >
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Държава</mat-label>
                <mat-select formControlName="countryCode">
                  <mat-option
                    *ngFor="let country of countries"
                    [value]="country.code"
                    >{{ country.name }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>

            <div>
              <mat-form-field class="facilityAdress">
                <input
                  matInput
                  placeholder="Адрес по местонахождение на обекта"
                  formControlName="address"
                />
              </mat-form-field>
              <button
                mat-raised-button
                type="button"
                color="primary"
                (click)="addForeignFacilityAddress()"
              >
                Добави
              </button>
            </div>
          </div>
        </div>

        <div>
          <mat-checkbox
            class="checkbox"
            formControlName="usingFoodTransportByClause52"
            ><span class="checkbox"
              >Използвам МПС за транспортиране на храни по чл.52 Описание на
              превозните средства по чл.52, които ще се използват за
              транспортиране на храни</span
            >
          </mat-checkbox>

          <div
            *ngIf="applicationForm.get('usingFoodTransportByClause52')?.value"
            formGroupName="vehicles"
          >
            <mat-form-field class="facilityAdress">
              <mat-label>Собственост на МПС</mat-label>
              <mat-select formControlName="vehicleOwnershipTypeCode">
                <mat-option
                  *ngFor="let vehicleOwnership of vehicleOwnerships"
                  [value]="vehicleOwnership.code"
                  >{{ vehicleOwnership.name }}</mat-option
                >
              </mat-select>
            </mat-form-field>
            <mat-form-field class="facilityAdress">
              <mat-label>Вид превозно средство</mat-label>
              <mat-select formControlName="vehicleTypeCode">
                <mat-option
                  *ngFor="let vehicleType of vehicleTypes"
                  [value]="vehicleType.code"
                  >{{ vehicleType.name }}</mat-option
                >
              </mat-select>
            </mat-form-field>
            <mat-form-field class="facilityAdress">
              <mat-label>Марка и модел</mat-label>
              <input
                matInput
                placeholder="Марка и модел"
                formControlName="brandModel"
              />
            </mat-form-field>

            <mat-form-field class="facilityAdress">
              <mat-label>Регистрационен номер</mat-label>
              <input
                matInput
                placeholder="Регистрационен номер"
                formControlName="registrationPlate"
              />
            </mat-form-field>
            <button
              mat-raised-button
              color="primary"
              type="button"
              (click)="addVehicle()"
            >
              Добави
            </button>
          </div>
        </div>

        <div>
          <mat-checkbox formControlName="usingFoodTransportByClause50"
            ><span class="checkbox">
              Използвам МПС за транспортиране на храни по чл.50
            </span>
          </mat-checkbox>
        </div>
        <div *ngIf="applicationForm.get('usingFoodTransportByClause50')?.value">
          <mat-form-field class="facilityAdress">
            <mat-label>Стикер No</mat-label>
            <input
              matInput
              placeholder="Стикер No"
              formControlName="ch50VehicleCertNumbers"
            />
          </mat-form-field>
          <button
            mat-raised-button
            color="primary"
            (click)="addVehiclePaperRegNumber()"
          >
            Добави
          </button>
        </div>

        <div>
          <mat-form-field appearance="fill" class="date-holder">
            <mat-label>Дата</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="commencementActivityDate"
              (click)="picker.open()"
            />
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </ol>
      <button
        type="reset"
        mat-raised-button
        class="close-btn"
        (click)="closeDialog()"
      >
        Затвори
      </button>

      <button
        [disabled]="!applicationForm.valid"
        mat-raised-button
        color="primary"
        (click)="registerApplication()"
      >
        Запази
      </button>
    </form>
  </mat-step>
</mat-stepper>
